.Card {
  width: 250px;
  border: 1px solid lightgrey;
  margin: 10px;
  padding: 5px 10px;
  box-shadow: 1px 1px 5px rgba(10, 10, 10, 0.1);
  background: white;
  border-radius: 5px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.Card img {
  width: 180px;
  border-radius: 5px;
  display: flex;
  margin: 0 auto 10px;
}

.Card .controls {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  margin: auto 0;
}

.Card button {
  display: flex;
  justify-self: end;
  background: grey;
  border: 1px solid grey;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.Card button:hover {
  background: orange;
  border: 1px solid orange;
  transition: .3s;
}

.Card p {
  margin: 10px auto;
  display: flex;
}
